* {
    padding: 0px;
    margin:0px;
}

body {
    background-image: linear-gradient(45deg, black, darkred);
    min-height:100vh;
}

h1#titulo1 {font-size: clamp(50px, 90%, 600px);
           text-align: center;
           color: black;
           -webkit-text-stroke-width:2px;
           -webkit-text-stroke-color: white;}

h1#titulo2 {
    font-size: clamp(20px, 3vw, 500px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}

main {
    background-color:black;
    width: 50%;
    height: auto;
    margin: 5% auto;
    text-align:center;
    padding: 20px 30px;
    border-radius:20px;
    
}

p {
    background-color:white;
    width: clamp(10px,94%,1000px);
    height: 8%;
    margin: auto;
    font-size: clamp(20px,5vw,70px);
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    padding: 3%;
    
}

p:empty:not(:focus)::before {
    content: attr(data-placeholder);
  }


#ponto {
    grid-row: 5/6;
}

#zero {
    grid-column: 1/3;
    grid-row: 5/6;
}

#igual {
    grid-row: 4/6;
    justify-content: end;
}

.teclado {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 70vh;
    grid-gap: 10px;
    padding-top: 10px;
    
}

button {
    background-color:rgb(26, 26, 26);
    color:white;
    height: 100%;
    width:100%;
    font-size: clamp(10px,10vw,30px);
    border-radius:10px;
}

button:hover {
    background-color:rgb(36, 36, 36);
    
}

@media (max-width: 730px) and (min-width:550px) {
.teclado {
    height:50vh;
}

}

@media (max-width: 550px) and (min-width:500px) {
    .teclado {
        height:35vh;
    }
    
    }

    @media (max-width: 500px) and (min-width:380px) {
        .teclado {
            height:26vh;
        }
        
        }

        @media (max-width: 380px) {
            .teclado {
                height:25vh;
            }
            
            }